
<% if current_user.has_membership %>
  <% @membership = Membership.find_by(user_id: current_user.id) %>
  <p> you have been a member since <%= @membership.created_at.to_formatted_s(:long) %> </p>
  <p> your membership will expire at <%= @membership.expiration_date %> </p>

  <p>
  This will be a link to delete your membership

  <%= link_to 'Delete membership', memberships_path(@membership),
  data: {:confirm => 'Are you sure?'}, method: :delete %>
</p>

  <p>
  This will be a link to extend your membership
  </p>

<% else %>
  <h1>Create a membership with ValetBike!</h1>

  <style>
  box {
    width: 320px;
    height: 200px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
  }
  </style>

  <box>
  <h1>One day membership</h1>
  A day full of amazing adventures in Nipmuk Notch! For only $10!
  </box>

  <box>
  <h1>Month membership</h1>
  Fill your days with biking for the whole month, for just $20!
  </box>

  <box>
  <h1>Year membership</h1>
  A year of biking awaits you! Get your year of access for just $200!
  </box>

  <p>
    <%= link_to "I want in!!!", new_membership_path, class: 'btn button btn-primary' %>
  </p>
<% end %>




