<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Display Stations on Map</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css" rel="stylesheet">
</head>
<body>

<section class="page-section">
  <h1 class="section-title">Check Our Stations</h1>
  <div id="map"></div>
  <div id="sidebar"></div>
</section>
<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoicGNhbGxlMjAwMyIsImEiOiJjbHBseHJmZnIwNDVoMmp0NzlldHduMXkzIn0.p5t2pnCXS3pDSQ4xXU_79Q';

  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [-72.54, 42.40], 
    zoom: 9 // Initial zoom level
  });

  var stations = [
    <% @stations.each do |station| %>
      {
        name: '<%= station.name %>',
        longitude: <%= station.longitude %>,
        latitude: <%= station.latitude %>
      },
    <% end %>
  ];

  stations.forEach(function(station) {
    var popupContent = '<h3>' + station.name + '</h3>';

    var marker = new mapboxgl.Marker()
      .setLngLat([station.longitude, station.latitude])
      .setPopup(new mapboxgl.Popup().setHTML(popupContent))
      .addTo(map);

    var sidebar = document.getElementById('sidebar');
    var sidebarItem = document.createElement('div');
    sidebarItem.className = 'sidebar-item';
    sidebarItem.textContent = station.name;

    sidebarItem.addEventListener('click', function() {
      map.flyTo({ center: [station.longitude, station.latitude], zoom: 13 });
    });

    sidebar.appendChild(sidebarItem);
  });
</script>



</body>
</html>
