<head>
  <title>About Us - ValetBike</title>
</head>
<body>

    <section class="page-section">
        <h1 class="section-title">About Us</h1>
        <div class="horizontal-line"></div> 
        <br>
        <br>

        <div class="group-team-image-container">
            <%= image_tag("TeamPhoto.jpeg", style: "width: 50%; border: 2px solid black; box-shadow: 10px 10px 5px grey;") %>
        </div>


        <div class="flexbox horizontal wrap justify-space-between h4" style="text-align: center;">
            <div class="link-box fill-block" style="--width: 49%">
                <p>Ryan they/she</p>
                <div class="fill-block h6" style="background: white; color: black; padding: 10px"
                    <p>An Environmental Science and Policy Major, Computer Science Minor, who enjoys naps on a sunny afternoon and loves to study in Josten Library. Their favorite part of this project was playing with CSS to style everything, and making it DRY!
                </div>
            </div>
            <div class="link-box fill-block" style="--width: 49%">
                <p>Paola she/her</p>
                <div class="fill-block h6" style="background: white; color: black; padding: 10px"
                    <p>A Computer Science & Statistical Data Science Double Major, who enjoys coffee and loves to study in Neilson Learning Commons. Her favorite part of this project was using Devise for the user session connection, and using APIs.
                </div>
            </div>
            <div class="link-box fill-block" style="--width: 49%">
                <p>Chelsea they/them</p>
                <div class="fill-block h6" style="background: white; color: black; padding: 10px"
                    <p>A Bio-Chem Major, Computer Science Minor, who enjoys dancing and loves to study in the Alumnae Gym. Their favorite part of this project was making forms with Bootstrap.
                </div>
            </div>
            <div class="link-box fill-block" style="--width: 49%">
                <p>Laura any pronouns</p>
                <div class="fill-block h6" style="background: white; color: black; padding: 10px"
                    <p>A Biology Major, Computer Science Minor, who enjoys playing hockey and loves to study in Wesley Living Room with Primbo the cat. Their favorite part of the project was things finally working after not working for a while.
                </div>
            </div>
        </div>
    </section>
</body>