<head>
  <title>About Us - ValetBike</title>
</head>
<body>
    <section class="page-section">
        <h1 class="section-title">About Us</h1>
        <div class="flexbox horizontal wrap justify-space-between h4" style="text-align: center;">
            <div class="link-box fill-block" style="--width: 49%">
                <p>Paola</p>
            </div>
            <div class="link-box fill-block" style="--width: 49%">
                <p>Ryan</p>
            </div>
            <div class="link-box fill-block" style="--width: 49%">
                <p>Laura</p>
            </div>
            <div class="link-box fill-block" style="--width: 49%">
                <p>Chelsea</p>
            </div>
        </div>
    </section>
</body>