

<div class="center-content">
  <br>
  <br>
  <img src="https://clipart-library.com/new_gallery/202-2022149_bike-svg-png-black-and-white-clip-art.png" width="200" height="150">
 
</div>

<div class="jumbotron text-center">
  <h1>ValetBike!</h1>
  <p>The Public Bike System Northampton Needs.</p>
</div>
