<head>
  <title>Homepage - ValetBike</title>
</head>
<body>
  <section class="page-section image-background">
    <blockquote class="section-inner h2" style="text-align: center">Bike to go, go to Bike</blockquote>
  </section>
  
  <section class="page-section">
    <h1 class="section-title">How it works</h1>
    <div class="flexbox horizontal wrap justify-space-between">
    <div class="box-inner h4" style="width: 33%">Begin Membership (insert link)</div>
      <div class="box-inner h4" style="width: 33%">Make a Rental (insert link)</div>
      <div class="box-inner h4" style="width: 33%">Use the code</div>
      <div class="box-inner h4" style="width: 33%">Unlock the Bike</div>
      <div class="box-inner h4" style="width: 33%">*insert bike here*</div>
      <div class="box-inner h4" style="width: 33%">Return the Bike to any Station (insert link)</div>
    </div>
  </section>

  <section class="page-section">
    <h1 class="section-title">ValetBike Stats</h1>
    <div class="white-background">
      <h1 class="section-inner h4"><%= Station.count %> stations throughout Nipmuc Notch</h1>
    </div>
    <div class="blue-background">
      <p class="section-inner h4"><%= Bike.where.not(current_station_id: nil).count %> bikes available</p>
    </div>
    <div class="white-background">
      <p class="section-inner h4"><%= Bike.where(current_station_id: nil).count %> bikes currently in use (or current station is nil)</p>
    </div>
  </section>

  <section class="page-section">
    <h1 class="section-title">Membership Options</h1>
    <%= link_to new_payment_path, :action => 'go' do %> 
      <div class="flexbox horizontal wrap justify-space-between">
        <div class="box-inner h4" style="width: 33%">$__ for a Day</div>
        <div class="box-inner h4" style="width: 33%">$__ for a Month</div>
        <div class="box-inner h4" style="width: 33%">$__ for a Year</div>
      </div>
    <% end %>
  </section>
</body>