<head>
  <title>Homepage - ValetBike</title>
</head>
<body>
  <section class="page-section">
    <h1 class="section-title">Home</h1>
    <p class="section-inner">This is where we should put some About info...or searching for a bike on the map</p>
  </section>
  <section class="page-section">
    <h1 class="section-title">Section 2</h1>
    <p class="section-inner">This is where we should put some About info...or searching for a bike on the map</p>
  </section>
  <section class="page-section">
    <blockquote class="section-inner h2" style="text-align: center">"Bike around the block, Bike across the town."</blockquote>
  </section>
</body>