<div>
  <br>
  <br>
  <br>
  <div class="center-content">
    <h1 class=h1>Home</h1>
  </div>
  <p>This is where we should put some About info...or searching for a bike on the map</p>
  <br>
  <div>
    <h2 class=h2>Links for developing</h2>
    <ul style="list-style-type:disc;">
      <li><%= link_to "Refer to the Figma visualization (click here)", "https://www.figma.com/file/jLAscgKzd4HPAfotfuieGu/ValetBike?type=design&node-id=0%3A1&mode=design&t=op9OSiDs7IVGALMT-1" %></li>
      <li><%= link_to "Want to find colors complementary to our main blue? click here", "https://www.colorhexa.com/4b719d"%></li>
      <li><%= link_to "These colors were used as reference for the flash messages: click here", "https://getbootstrap.com/docs/4.0/components/alerts/"%></li>
    </ul>
    </div>
</div>






