<div class="record-row <%= cycle "odd", "even", name: "row-cycler" %> flexbox vertical stretch">
  <%= rental.identifier %>
    <b>Rental period: <%= rental.rental_period %> </b>
    <br>
    <p><b>Return by: <%= rental.return_by %> </b>

</div>