<head>
  <title>Rentals - ValetBike</title>
</head>
<body>
  <section class="page-section">
    <h1 class="section-title">Rentals</h1>
    <p class="section-inner" style="text-align: center;">
      <%= link_to "Create New Rental", stations_path, class: 'btn button btn-primary' %>
    </p>
    <br>
    <div class="section-inner flexbox vertical stretch">
      <% if @rentals.present? %>
          <% logger.info("@rental.user is equal to @current user") %>
        <div class="record-row header flexbox horizontal justify-space-between">
            <% if params[:reverse].blank? || params[:reverse] == "0" %>
              <a href="<%= rentals_path(params: {reverse: 1})%>">New ⬇</a>

            <% else %>
              <a href="<%= rentals_path%>">Past ⬆</a>

            <% end %>
          </div>
          <%= render(partial: "rentals/row", collection: @rentals, as: :rental) %>
      <% else %>
        <div class="empty">
          No rentals found.
        </div>
      <% end %>
    </div>
  </section>
</body>