<h1 style="font-size:40px;">Create New Rental </h1>


<div class="flexbox horizontal justify-content-center">
  <%= form_with model: @rental, url: rentals_path, method: :post, local:true do |f| %>
    <br>
    <br>
    <tr>
      
      <br>
      <th>
        <label (:rental_hours)>Hours</label>
      </th>
      <td><input type="number" name= :rental_hours min="0" max="10" step="1" class="form-control" id= :rental_hours></td>
      <br>
      <th>
        <label (:rental_minutes)>Minutes</label>
      </th>
      <td><input type="number" name=:rental_minutes min="0" max="45" step="15" class="form-control" id= :rental_minutes></td>
    </tr>
    <tr>
      <th><b><%= f.label (:return_by) %></b></th>
      <td><%= f.date_field (:return_by) %></td>
    </tr>
    <br>
    <%:rental_period = :rental_hours.to_s + :rental_minutes.to_s + "00"%>
</div>
<div>
  <br>
  <b><%= f.submit "Submit", class: "btn button btn-primary"%></b>
      
  <% end %>
</div>