<head>
  <title>Rental QR Code - ValetBike</title>
</head>
<body>

  <section class="page-section">
    <h1 class="section-title">Rental QR Code</h1>
    <div class="horizontal-line"></div> 
  </section>

  <div class="center">
    <%= RQRCode::QRCode.new(@rental.user.id.to_s + "bike" + @rental.id.to_s).as_svg(
      color: "000",
      shape_rendering: "crispEdges",
      module_size: 11,
      standalone: true,
      use_path: true
    ).html_safe %>
  </div>
</div>

</body>