<div class="record-row <%= cycle "odd", "even", name: "row-cycler" %> flexbox vertical stretch justify-space-between">
  <div><%= bike.identifier %></div>
  <div><%= bike.current_station.blank? ? "In Use" : "Docked (#{bike.current_station.address})" %></div>
</div>