<head>
  <title>Bikes - ValetBike</title>
</head>
<body>
  <section class="page-section">
    <h1 class="section-title">Bikes</h1>
    <section class="section-inner flexbox vertical stretch">
      <% if @bikes.present? %>
        <div class="record-row header flexbox horizontal justify-space-between">
          <% if params[:reverse].blank? || params[:reverse] == "0" %>
            <a href="<%= bikes_path(params: {reverse: 1})%>">Sort ⬇</a>
          <% else %>
            <a href="<%= bikes_path%>">Sort ⬆</a>
          <% end %>
        </div>
        <%= render(partial: "bikes/row", collection: @bikes, as: :bike) %>
      <% else %>
        <section class="section-inner">
          No stations found.
        </section>
      <% end %>
    </section>
  </section>
</body>
