<div class="record-row <%= cycle "odd", "even", name: "row-cycler" %> flexbox vertical stretch">
  <%= payment.id %>
    <b>Credit card info: <%= payment.credit_card_info %> </b>
    <br>
    <p><b>Amount: <%= payment.amount %> </b>

</div>