<% if params[:success] %>
  <div class="alert alert-success nb-5" role="alert">
    welcome to valetbike!
  </div>
<% end %>

<div>
<%= button_to "Purchase monthly", checkouts_path,
  class: "btn btn-primary", method: :post,
    data: {turbo: false},
    params: {
      checkout: {
        items: [ {
          price: "price_1OEGBPAEDQD8Ll07rFDWe0yD",
          quantity: 1
        }]
      }
    } %>
</div>

<div>
<%= button_to "Purchase day pass", checkouts_path,
  class: "btn btn-primary", method: :post,
    data: {turbo: false},
    params: {
      checkout: {
        items: [ {
          price: "price_1OEGBjAEDQD8Ll07ZOPkdWra",
          quantity: 1
        }]
      }
    } %>
</div>

<div>
<%= button_to "Purchase yearly membership", checkouts_path,
  class: "btn btn-primary", method: :post,
    data: {turbo: false},
    params: {
      checkout: {
        items: [ {
          price: "price_1OEG8iAEDQD8Ll07wvONOSHj",
          quantity: 1
        }]
      }
    } %>
</div>