<div class="h1 text-center">
  <h1>ValetBike!</h1>
  <p>Payments</p>
</div>

<div>
  <p>
    <%= link_to "New Payment", new_payment_path, class: 'btn button btn-primary' %>
  </p>
</div>

<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="flexbox vertical stretch">
      <br>
      <% if @payments.present? %>
        <%= render(partial: "payments/row", collection: @payments, as: :payment) %>
      <% else %>
      <div class="empty">
        No payments found.
      </div>
      <% end %>
    </div>
	</div>
</div>