/* Error Messages CSS */
.error-explanation {
    background-color: #fed7d7; 
    border: 1px solid #f98080; 
    color: #c53030; 
    padding: 1rem; 
    border-radius: 0.375rem; 
    margin-top: 1rem; 
  }
  
.error-list {
list-style-type: disc; 
padding-left: 1.25rem; 
margin-top: 0.5rem; 
}

.error-message {
font-weight: bold; 
}
  