/* Error Messages CSS */
.error-explanation {
    background-color: var(--red-light-color); 
    border: 1px solid var(--red-mid-color); 
    color: var(--red-dark-color); 
    padding: 1rem; 
    border-radius: 0.375rem; 
    margin-top: 1rem; 
  }
  
.error-list {
list-style-type: disc; 
padding-left: 1.25rem; 
margin-top: 0.5rem; 
}

.error-message {
font-weight: bold; 
}
  