#alert, #notice {
  padding: 20px;
  color: white;
  margin: 0; /* Remove margin to allow full width */
  width: 90%; /* Set width to 100% of the parent element */
}

#notice {
  background-color: var(--green-color); /* Override color for notice */
}

#alert {
  background-color: var(--red-color); /* Red for alert, green for notice */
}
