.flash{
  padding: 20px;
  /* color: white; */
  margin: 0; /* Remove margin to allow full width */
  width: 100%; /* Set width to 100% of the parent element */
  opacity: 90%;
  margin-left: auto;
  margin-right: auto;
  border-width: 1px;
}

#success {
  color: var(--green-dark-color);
  background-color: var(--green-light-color);
  border-color: var(--green-mid-color);
}

#notice {
  color: var(--blue-dark-color);
  background-color: var(--blue-light-color);
  border-color: var(--blue-mid-color);
}

#alert {
  color: var(--yellow-dark-color);
  background-color: var(--yellow-light-color);
  border-color: var(--yellow-mid-color);
}

#error {
  color: var(--red-dark-color);
  background-color: var(--red-light-color);
  border-color: var(--red-mid-color);
}
