/* You can modify the styles as needed */
#navbar {
  padding: 10px 0;
  background-color: var(--valetbike-blue-color);
  color: white;
  z-index: 1;
}

.navbar-brand {
  margin-right: 1em;
}

.navbar-toggler {
  border: none;
}

.nav-link {
  padding: 0.5em 1em;
}

.dropdown-menu {
  min-width: 100%;
}

@media (min-width: 992px) {
  .navbar-nav {
    margin-top: 0;
  }
}
