/************************************/
/*       Universal Page Style       */
/************************************/

.page-section {
  max-width: 80em;
  width: 100%;
  margin-top: 4em;
  margin-bottom: 2em;
}

.page-section .section-inner {
  margin-right: 6%;
  margin-left: 6%;
}

.page-section .section-title {
  font-family: var(--title-font);
  font-weight: 500;
  font-size: 2.5em;
  margin-right: 6%;
  margin-left: 6%;
  margin-bottom: 1em;
}

.record-row {
  padding: 0.5em 1.25em 0.5em 1.25em;
  font-size: 0.85em;
  line-height: 1.75em;
}

.record-row.header {
  background: var(--black-color);
  color:aliceblue;
}

.record-row.even {
  background: var(--medium-white-color);
}

.record-row.even.flexbox:hover{
  background: var(--valetbike-blue-color);
  color:aliceblue;
}

.record-row.odd {
  background: var(--dark-white-color);
}

.record-row.odd.flexbox:hover{
  background: var(--valetbike-blue-color);
  color:aliceblue;
}

.fill-block {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}



/***********************************/
/*         Responsiveness          */
/***********************************/

@media (max-width:48em) {
  .page-section {
    margin-top: 3em;
  }

  .page-section .section-title {
    font-size: 1.9em;
    margin-bottom: .6em;
  }

}
