:root {
  --title-font:             'Rubik', 'Arial';
  --body-font:              'Rubik', 'Arial';

  --black-color:            #160919;
  --light-black-color:      #2E2230;
  --gray-color:             #84848C;
  --light-gray-color:       #D0CED1;
  --dark-white-color:       #F3F2F3;
  --medium-white-color:     #FDFCFD;
  --white-color:            #FFFFFF;

  --valetbike-blue-light-color: #7798BE;
  --valetbike-blue-color:   #4B719D;
  --valetbike-blue-dark-color: #324C69;

  --green-dark-color:       #155724;
  --green-mid-color:        #C3E6CB;
  --green-light-color:      #D4EDDA;

  --blue-dark-color:        #004085;
  --blue-mid-color:         #B8DAFF;
  --blue-light-color:       #CCE5FF;

  --yellow-dark-color:      #856404;
  --yellow-mid-color:       #FFEEBA;
  --yellow-light-color:     #FFF3CD;

  --red-dark-color:         #721C24;
  --red-mid-color:          #F5C6CB;
  --red-light-color:        #F8D7DA;


  
/* below from previous version...phase out  */
  --green-color:            #3BD6AF;
  --dark-green-color:       rgb(23, 84, 4);
  --orange-color:           #F89356;
  --blue-color:             #4B719D;
  --red-color:             #db6363;
  --dark-red-color:             #7e0303;
}