<!-- app/views/layouts/_footer.html.erb -->
<div style="text-align: center; padding: 3%; background-color: var(--valetbike-blue-color); color: white">
    <p>This is the footer partial...</p>
    <p>Want to put an about us page...about the team who made it</p>
</div>
