<!-- app/views/layouts/_footer.html.erb -->
<div style="padding: 3%; background-color: var(--valetbike-blue-color);">
    <p style="color: var(--medium-white);">This is the footer partial...this is not turning white like it should</p>
    <p>Want to put an about us page...about the team who made it</p>
</div>
